.header{
    grid-area:header;
    background-color: white;
    }
    .header__logo {
      display:flex;
      align-items: center;        
      margin:20px 40px;
    }
    .logo__name{
      margin-left: 10px;
      text-align: center;
      font:  bold 25px /1.2em "Arial", serif;
      color:black;
      
    
    }
    img{
    width:40px;
    }